streamlit==1.37.0
matplotlib==3.9.1
numpy==2.0.1
folium
streamlit_folium
plotly
rasterio
geopy
emoji==2.12.1
shapely
openai=0.28.0
geopandas==1.0.1
pandas==2.2.2
seaborn==0.13.2
statsmodels
requests==2.32.3
